/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
  --theme__color1: #4F46E5;
  --theme__color2: #0891B2;
  --poppins: 'Poppins', sans-serif;
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.6;
  background-color: #111827;
  color: #fff;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--poppins);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
.container {
  padding: 0 18px;
}
@media (max-width: 1399px) and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1399px) {
  .container {
    max-width: 1320px;
  }
}



/* header */
.header-section {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {
  position: fixed;
  width: 100%;
  padding: 18px 0;
  border-bottom: 1px solid rgb(55, 65, 81);
  background: rgba(17, 24, 39, 0.65);
  backdrop-filter: blur(40px);
  z-index: 100;
}
.header-section__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: 94px;
  display: block;
  margin-right: 42px;
}
.header-logo svg {

}

/* main-menu */
.main-menu {
  --ex-space: 10px;
  margin: calc(var(--ex-space) * -1) 0;
  position: relative;
}
.main-menu > ul {
  gap: 5px;
  display: flex;
  align-items: center;
}
.main-menu > ul > li {
  padding: var(--ex-space) 0;
  position: relative;
}
.main-menu > ul > li > a {
  padding: 7px 20px 8px;
  font-size: 16px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #e5e7eb;
  border-radius: 50px;
  font-weight: 400;
  position: relative;
}
.main-menu > ul > li > a.active {
  background: #1F2937;
  font-weight: 600;
  color: #fff;
}
.main-menu > ul > li > a:hover {
  background: #1F2937;
}
.main-menu > ul > li > a > .bdg {
  background: #F35656;
  color: #fff;
  line-height: 1;
  position: absolute;
  top: -3px;
  right: 0;
  background-color: #f35656;
  border-radius: 4px;
  display: inline-block;
  font-size: 10px;
  line-height: 15px;
  padding: 0 5px;
}
.main-menu > ul > li > a > .txt {

}
.main-menu > ul > li > a > .chevron-down {
  font-size: 12px;
  color: #9ca3af;
}
/* main-dropdown */
.main-dropdown-menu {
  padding: 20px 8px;
  border-radius: 10px;
  position: absolute;
  min-width: 226px;
  background: #111827;
  border: 1px solid rgba(55, 65, 81, 0.548);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.main-dropdown-menu.debug {
  opacity: 1;
  visibility: visible;
}
.main-dropdown-menu--lv2 {
  top: calc(100% + 0px);
  left: 0;
}
.main-menu > ul > li:hover .main-dropdown-menu--lv2 {
  opacity: 1;
  visibility: visible;
}
.main-dropdown-menu--lv3 {
  top: 0;
  left: calc(100% + 15px);
}
.dropdown-ul li:hover .main-dropdown-menu--lv3 {
  opacity: 1;
  visibility: visible;
}
.dropdown-ul {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.dropdown-ul li {
  position: relative;
}
.dropdown-ul li a {
  padding: 5px 17px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 400;
  color: #e5e7eb;
  align-items: center;
  display: flex;
  gap: 6px;
}
.dropdown-ul li a:hover {
  background: #1F2937;
}
.dropdown-ul li a .n-bdg {
  background: #F35656;
  background-color: rgb(243, 86, 86);
  color: #fff;
  line-height: 1;
  background-color: #f35656;
  border-radius: 4px;
  display: inline-block;
  font-size: 10px;
  line-height: 15px;
  padding: 0 5px;
}
.dropdown-ul li a .chevron {
  font-size: 12px;
  margin-left: 5px;
  color: #9ca3af;
}
.dropdown-ul .meta-li {
  padding: 0 9px;
}
.dropdown-ul--in-mg {
  gap: 5px;
}
.dropdown-ul--in-mg li a {
  padding: 5px 9px;
  display: inline-flex;
}
.dropdown-ul .meta-li {
  margin: 0 0 10px;
}
.dropdown-ul .meta-li .image {
  height: 94px;
  margin: 0 0 16px;
  width: 100%;
  border-radius: 8px;
}
.dropdown-ul .meta-li .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.dropdown-ul .meta-li h4 {
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}
/* megamenu */
.main-dropdown-menu--megamenu {
  min-width: 840px;
  padding: 20px 12px;
}
.megamenu-ul-wrap {
  grid-gap: 0px;
  grid-template-columns: repeat(5,1fr);
  display: grid;
}




.header__right {
  gap: 22px;
  display: flex;
  align-items: center;
}
.hr-search {

}
.hr-search .t-button {
  font-size: 24px;
}
.hr-search-dropdown {
  width: 382px;
  padding: 0;
  background: transparent;
  border: none;
  inset: 14px auto auto 0px !important;
}
.hr-search-dropdown .input {
  padding: 2px 16px;
  font-size: 14px;
  border-radius:14px;
  min-height: 41px;
  width: 100%;
  background: #111827;
  border: 1px solid rgba(55, 65, 81, 0.7);
  color: #e5e7eb;
  box-shadow: 0 0 0 3px rgba(95, 76, 217, 0.3);
}
.hr-search-dropdown .input::placeholder {
  color: rgba(255, 255, 255, 0.178);
}
/* header-end */


/* ---where-search-button--- */
.where-search-button {
  padding: 9px 7px 9px 21px;
  gap: 11px;
  width: 488px;
  display: flex;
  align-items: center;
  border: 1px solid #374151;
  border-radius: 50px;
  margin: 0 auto;
  max-width: 100%;
}
.where-search-button .icon {
  color: #e5e7eb;
}
.where-search-button .tc {

}
.where-search-button .tc h4 {
  font-size: 14px;
  margin: 0 0 2px;
  font-weight: 500;
  color: #e5e7eb;
}
.where-search-button .tc p {
  font-size: 12px;
  font-weight: 300;
  color: #9ca3af;
}
.where-search-button .re-item {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #374151;
  margin-left: auto;
}
/* ---where-search-button---end */


/* ---mobile-menu-bar--- */
.mobile-menu-bar {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #1F2937;
	border-top: 1px solid rgb(55, 65, 81);
	z-index: 100;
}
.mobile-bar-menu {
  max-width: 490px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.mobile-bar-menu li {

}
.mobile-bar-menu li a {
  padding: 10px;
  font-size: 11px;
  color: #f3f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
.mobile-bar-menu li a.active {

}
.mobile-bar-menu li a .icon {
  font-size: 17px;
  line-height: 1;
}
.mobile-bar-menu li a.active .icon {
  color: #dc2626;
}
/* ---mobile-menu-bar---end */



/* ---offcanvas-css--- */
.offcanvas-open-header {
  font-size: 22px;
  transition: 0.3s;
  color: #d1d5db;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  font-size: 20px;
  color: #ffffffc0;
  line-height: 1;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(105%);
  transition: 0.3s;
  display: flex;
  justify-content: flex-end;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  width: 447px;
  max-width: 100%;
  z-index: 5;
  position: relative;
  background: #111827;
  color: #fff;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}

.offcanvas__header {
  padding: 33px 20px 30px;
  border-bottom: 2px solid rgba(55, 65, 81, 0.458);
}
.off-logo {
  width: 95px;
  margin: 0 0 30px;
  display: block;
}
.off-logo svg {
  width: 100%;
}
.offcanvas__header h4 {
  font-size: 14px;
  margin: 0 0 25px;
  line-height: 1.5;
  font-weight: 400;
  color: #d1d5db;
}
.offcanvas__header .sc-menu {
  display: flex;
  align-items: center;
}
.sc-menu {
  display: flex;
  gap: 10px;
}
.sc-menu li {

}
.sc-menu li a {
  height: 37px;
  width: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #1F2937;
  color: #ffffffb2;
  border-radius: 50%;
}

.offcanvas__body {
  padding: 27px 8px;
  border-bottom: 2px solid rgba(55, 65, 81, 0.458);
}
.mobile-menu {

}
.mobile-menu ul {

}
.mobile-menu ul ul {
  padding-left: 20px;
}
.mobile-menu ul li {

}
.mobile-menu ul li a {
  padding: 10px 17px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 500;
  color: #e5e7eb;
  align-items: center;
  display: flex;
  gap: 6px;
  justify-content: space-between;
}
.mobile-menu > ul > li > a {
  text-transform: uppercase;
  color: #fff;
}
.mobile-menu ul li a:hover {
  background: #1F2937;
}
.mobile-menu ul li a .chevron {
  font-size: 12px;
  color: #9ca3af;
}



.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.378);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #111827;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---hero-section--- */
.hero-section {
  padding: 64px 0;
}
.hero-section__inner {

}

.hero__row {
  display: flex;
  justify-content: space-between;
}
.hero__content {
  padding-top: 30px;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero__content .h1 {
  font-size: 72px;
  margin: 0 0 41px;
  line-height: 1.15;
  font-weight: 500;
  color: #e5e7eb;
}
.hero__content p {
  font-size: 18px;
  line-height: 1.6;
  color: #9ca3af;
}
.hero__content .bottom-button {
  margin: 27px 0 0;
}
.hero__right-image {
  width: 50%;
}
.hero__right-image .img {

}


.hero__search__wrap {
  margin-top: -162px;
  width: 1153px;
  max-width: 100%;
  position: relative;
  z-index: 2;
}
.hero-search-nav {
  margin: 0 0 30px 45px;
  gap: 44px;
  display: flex;
}
.hero-search-nav li {

}
.hero-search-nav li a {
  font-weight: 16px;
  gap: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #e2e8f071;
}
.hero-search-nav li a:hover {
  color: #f1f5f9;
}
.hero-search-nav li a.active {
  color: #e2e8f0;
}
.hero-search-nav li a .ellipse {
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 50%;
  display: none;
}
.hero-search-nav li a.active .ellipse {
  display: block;
}

.hero__search__tab-content {

}
.hero__search__tab-pane {

}
.hero__search__content {
  background: #1E293B;
  border-radius: 60px;
}
.hero__search__content__inner {
  display: flex;
}
.hero__search__single {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  position: relative;
}
.hero__search__a {
  min-height: 98px;
  padding: 10px 34px;
  gap: 16px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  flex-grow: 1;
}
.hero__search__single.show .hero__search__a {
  background: #293445;
}
.hero__search__a .icon {
  font-size: 20px;
  opacity: 0.6;
}
.hero__search__a .tc {

}
.hero__search__a .tc h4 {
  font-size: 18px;
  margin: 0 0 4px;
  font-weight: 600;
  color: #e2e8f0;
  line-height: 1.3;
}
.hero__search__a .tc .h4-input {
  width: 250px;
  font-size: 18px;
  margin: 0 0 2px;
  font-weight: 600;
  color: #e2e8f0;
  padding: 0;
  border: none;
  line-height: 1.3;
  background: transparent;
}

.hero__search__a .tc p {
  font-size: 14px;
  font-weight: 300;
  color: #94a3b8;
}
.hs__src__button {
	height: 62px;
	width: 62px;
	font-size: 20px;
	margin-left: auto;
	margin-right: -20px;
	color: #fff;
	background: #0891B2;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.hero__search__dropdown {
  padding: 30px 0;
  border-radius: 25px;
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  background: #1E293B;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.hero__search__single.show .hero__search__dropdown {
  opacity: 1;
  visibility: visible;
}
.hero__search__dropdown__title {
  padding: 0 31px;
  margin: 0 0 13px;
}
.hero__search__dropdown__title h4 {
  font-size: 18px;
  font-weight: 600;
}
.hsd-menu {

}
.hsd-menu li {

}
.hsd-menu li a {
  padding: 0 31px;
  min-height: 65px;
  gap: 20px;
  font-weight: 500;
  color: #e2e8f0;
  display: flex;
  align-items: center;
}
.hsd-menu li a:hover {
  background: #334155;
}
.hsd-menu li a .icon {
  font-size: 18px;
  color: #94a3b8;
}

.sel-ul {
  padding: 0 31px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.sel-ul li {
  
}
.sel-label {
  gap: 16px;
  display: flex;
}
.sel-label .checkbox {
  
}
.sel-label-tc {
  
}
.sel-label-tc h4 {
  font-size: 18px;
  margin: 0 0 4px !important;
  font-weight: 600;
  color: #e2e8f0;
  line-height: 1.3;
}
.sel-label-tc p {
  font-size: 14px;
  font-weight: 300;
  color: #94a3b8;
}

/* ---hero-section---end */


/* ---range-content--- */
.range-content {
  padding: 20px 35px 5px;
}
.range-slider {
  margin: 0 0 40px;
}
.range-slider-values-wrap {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.range-slider-value-single {
  width: 50%;
  max-width: 220px;
}
.range-slider-value-single h4 {
  font-size: 14px;
  margin: 0 0 6px;
  font-weight: 500;
  color: #cbd5e1;
}
.range-slider-value-single .input {
  height: 37px;
  padding: 3px 20px;
  font-size: 16px;
  width: 100%;
  font-weight: 400;
  color: #e2e8f0;
  background: #0F172A;
  border: 1px solid #ffffff3f;
  border-radius: 50px;
}
/* ---range-content---end */



/* ---common-content--- */
.h2 {
  font-size: 36px;
  margin: 0 0 15px;
  font-weight: 600;
  color: #f9fafb;
}
.h4 {
  font-size: 20px;
  font-weight: 400;
  color: #9ca3af;
}
.h5 {
  font-size: 14px;
  margin: 0 0 19px;
  letter-spacing: 1.3px;
  font-weight: 400;
  color: #9ca3af;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  align-items: center;
  text-align: center;
}
.cont-blk .bottom-button {
  margin-top: 30px;
}
.sec-title {
  margin-bottom: 60px;
}
.cont-blk p {
  color: #94a3b8;
}
/* ---common-content---end */



/* ---section-a--- */
.section-a {
  padding: 105px 0;
}
.section-a__inner {

}
.section-a__title {

}

.section-a__inner {

}
.slider-a {

}
.slider-a .owl-nav {
  position: absolute;
  top: -102px;
  right: 0;
}
.slide-a {

}
.slide-a__image {
  border-radius: 15px;
  height: 323px;
  width: 100%;
  position: relative;
}
.slide-a__image::after {
  content: '';
  height: 100%;
  width: 100%;
  background: #00000010;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  opacity: 0;
}
.slide-a__image:hover::after {
  opacity: 1;
}
.slide-a__image .img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.slide-a__tc {
  padding: 20px 0;
}
.slide-a__tc h4 {
  font-size: 18px;
  margin: 0 0 10px;
  font-weight: 500;
  color: #f3f4f6;
}
.slide-a__tc p {
  font-size: 14px;
  font-weight: 400;
  color: #9ca3af;
}


/* slide-a--stay */
.slide-a--stay {

}
.slide-a--stay .slide-a__image {
  height: 175px;
}
.slide-a--stay .slide-a__tc {
  padding-left: 12px;
}
/* ---section-a---end */


/* ---slider-arrow--- */
.slider-arrow-1 .owl-nav {
  gap: 7px;
  display: flex;
}
.slider-arrow-1 .owl-nav button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #fff !important;
  color: #fff !important;
  opacity: 0.3;
  border-radius: 50%;
}
.slider-arrow-1 .owl-nav button:hover {
    opacity: 0.7;
}

.slider-arrow-2 .owl-nav {
  gap: 7px;
  display: flex;
}
.slider-arrow-2 .owl-nav button {
  height: 31px;
  width: 31px;
  font-size: 12px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #ffffff25 !important;
  color: #fff !important;
  opacity: 1;
  border-radius: 50%;
  background: #111827 !important;
}
.slider-arrow-2 .owl-nav button:hover {
    border-color: transparent !important;
}

.slider-arrow-center {
  --off: 8px;
}
.slider-arrow-center .owl-nav button {
  position: absolute;
  top: 50%;
  left: var(--off);
  z-index: 5;
  transform: translate(0,-50%);
}
.slider-arrow-center .owl-nav .owl-next {
  left: unset;
  right: var(--off);
}
/* ---slider-arrow---end */


/* ---slider-dots-1--- */
.slider-dots-1 .owl-dots {
  gap: 5px;
  display: flex;
  align-items: center;
  filter: drop-shadow(0 0 20px #00000079);
}
.slider-dots-1 .owl-dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: #fff !important;
  opacity: 0.8;

}
.slider-dots-1 .owl-dot.active {
  opacity: 1;
  height: 9px;
  width: 9px;
}
/* ---slider-dots-1---end */


/* ---benefit-section--- */
.benefit-section {
  padding: 120px 0;
}
.benefit-section__inner {
  gap: 60px;
  display: flex;
  align-items: center;
}

.benefit__image {
	flex-shrink: 0;
	width: 60%;
}
.benefit__image .img {

}
.benefit__content__side {

}
.benefit__content__side .sec-title {

}
.benefit__contents {
  gap: 40px;
  flex-direction: column;
  display: flex;
}
.benefit__content__single {

}
.benefit__content__single h3 {
  font-size: 20px;
  margin: 0 0 17px;
  font-weight: 600;
  color: #e5e7eb;
}
.benefit__content__single p {
  color: #9ca3af;
}
.benefit__content__single .cheap {
  margin: 0 0 19px;
}
.cheap {
  font-size: 12px;
  padding: 4px 10px 4px;
  border-radius: 20px;
  color: #1e40af;
  background: #DBEAFE;
  border: 1px solid transparent;
  font-weight: 500;
  display: inline-flex;
  line-height: 1;
  gap: 5px;
}
.cheap i {
  font-size: 11px;
}
.cheap--green {
  background: #DCFCE7;
  color: #166534;
}
.cheap--red {
  color: #991b1b;
  background: #FEE2E2;
}
.cheap--brown {
  color: #854d0e;
  background: #FEF9C3;
}
/* ---benefit-section---end */


/* ---featured-section--- */
.featured-section {

}
.section__black-box {
  position: relative;
  z-index: 2;
}
.section__black-box::after {
  content: '';
  height: 100%;
  width: calc(100% + 256px);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #0E131F;
  border-radius: 50px;
  display: block;
  z-index: -1;
  position: absolute;
}
.featured-section__inner {
  padding: 65px 0;
}
.featured-section__title {
  margin-bottom: 55px;
}

.featured__filter-row {
  margin: 0 0 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured__filter-row .default-button {
  min-height: 42px;
}
.tab-nav {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  overflow: auto;
}
.tab-nav li {
  flex-shrink: 0;
}
.tab-nav li a {
  padding: 8px 23px;
  font-size: 16px;
  font-weight: 500;
  color: #9ca3af;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tab-nav li a:hover {
  background: #1F2937;
  color: #f0fdfa;
}
.tab-nav li a.active {
  background: #115E59;
  color: #f0fdfa;
}

.features__tab-content {

}
.features__tab-pane {

}
.featured__card-wrap {
	--grid-gap: 35px;
	--grid-item: 4;
	display: grid;
	grid-template-columns: repeat(var(--grid-item),calc((100% / var(--grid-item)) - ((var(--grid-gap) * (var(--grid-item) - 1)) / var(--grid-item))));
	justify-content: space-between;
	grid-gap: var(--grid-gap);
}
.product-card {
  width: 100%;
  display: block;
  background: #111827;
  border: 1px solid #37415162;
  border-radius: 12px;
  position: relative;
}
.product-card__image {
  width: 100%;
  position: relative;
}
.product-card .l-badge {
  font-size: 12px;
  padding: 3px 11px 5px;
  border-radius: 10px;
  line-height: 1;
  color: #fef2f2;
  background: #B91C1C;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
  display: inline-flex;
}
.product-card .fav-button {
  height: 31px;
  width: 31px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.212);
  border: none;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
}
.product-card .fav-button.active i {
  font-weight: 700 !important;
}
.product-card__image__slider {
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}
.product-card__image__slider .owl-nav {
  transition: 0.3s;
  opacity: 0;
}
.product-card__image__slider:hover .owl-nav  {
  opacity: 1;
}
.product-card__image__slider .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 5;
}
.product-card__image__slide {
  height: 222px;
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}
.product-card__image__slide::before {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.062);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
}
.product-card__image__slide .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.product-card__tc {
  padding: 20px 16px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-card__tc__top {
  
}
.product-card__tc__tags {
  margin: 0 0 15px;
  gap: 11px;
  display: flex;
  align-items: center;
}
.product-card__tc__top h5 {
  font-size: 14px;
  margin: 0 0 14px;
  font-weight: 400;
  color: #9ca3af;
}
.product-card__tc__top h3 {
  font-size: 18px;
  margin: 0 0 10px;
  font-weight: 500;
}
.product-card__tc__top .loc-wrap {
  padding: 9px 0 5px;
  gap: 29px;
  display: flex;
  align-items: center;
}
.product-card__tc__top .loc {
  font-size: 14px;
  font-weight: 400;
  color: #9ca3af;
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-card__tc__top .loc .icon {

}
.product-card__tc__top .bt-line {
  width: 55px;
  margin-top: 12px;
  background: rgba(255, 255, 255, 0.1);
  display: block;
  height: 1px;
}
.product-card__tc__bottom {
  padding-top: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-card__tc .price {
  font-size: 14px;
  color: #9ca3af;
}
.product-card__tc .price-bx {
  height: 33px;
  padding: 4px 13px;
  border: 1px solid #13A698;
  color: #13A698;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
}

.product-card__tc .price .value {
  font-size: 16px;
  font-weight: 600;
  color: #e5e7eb;
}
.product-card__tc .star {
  font-size: 14px;
  font-weight: 400;
  color: #9ca3af;
}
.product-card__tc .star .value {
  font-weight: 500;
  color: #e5e7eb;
}
.product-card__tc .star .star {
  width: 18px;
}


.product-card.product-card--lnr {
  padding: 12px;
  display: flex;
  align-items: center;
}
.product-card.product-card--lnr .fav-button {
  background: #334155;
}
.product-card.product-card--lnr .product-card__image {
  width: 233px;
  height:233px;
  display: flex;
  align-items: center;
}
.product-card.product-card--lnr .product-card__image__slider {
  border-radius: 12px;
}
.product-card.product-card--lnr .product-card__tc {
  flex-grow: 1;
  padding: 23px 11px 23px 23px;
}

.sec-bottom-buttons {
  margin: 64px 0 0;
  gap: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ---featured-section---end */


/* ---how-work-section--- */
.how-work-section {
  padding: 110px 0;
}
.how-work-section__inner {

}
.how-work-section__title {

}

.how-work-step-wrap {
  gap: 120px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.how-work-step-wrap .line-bg {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%,0);
  z-index: -1;
}
.how-work-step {
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.how-work-step__image {
  width: 205px;
  height: 195px;
  margin-bottom: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.how-work-step__image img {

}
.how-work-step__tc {

}
.how-work-step__tc h4 {
  font-size: 20px;
  margin: 0 0 23px;
  font-weight: 600;
  color: #e5e7eb;
}
.how-work-step__tc p {
  line-height: 1.5;
  color: #9ca3af;
}
/* ---how-work-section----end */


/* ---sug-section--- */
.sug-section {

}
.sug-section__inner {
  padding: 65px 0;
}
.sug-section__title {

}

.sug-slider {

}
.sug-slider .owl-nav {
  margin: 30px auto 0;
  justify-content: center;
  width: 100%;
}
.sug-slider .owl-nav button {
  background: #111827 !important;
}
.slide-a--sug {

}
.slide-a--sug .slide-a__image {

}
.slide-a--sug .slide-a__tc {
  text-align: center;
}
/* ---sug-section---end */


/* ---newsletter-section--- */
.newsletter-section {
  padding: 110px 0;
}
.newsletter-section__inner {

}

.news-letter__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newsletter__content {
  width: 38%;
}
.newsletter__content .cont-blk {
  margin: 0 0 35px;
}
.newsletter__content .cont-blk p {
  color: #9ca3af;
}
.cheap-ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cheap-ul li {
  font-weight: 500;
  color: #d1d5db;
}
.newsletter-form {
  margin-top: 38px;
  width: 382px;
  height: 44px;
  max-width: 100%;
  border: 1px solid #374151;
  display: flex;
  border-radius: 50px;
  align-items: center;
  padding-right: 4px;
}
.newsletter-form .input {
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #e5e7eb;
  background: transparent;
  border-color: transparent;
  width: 0;
  height: 100%;
  flex-grow: 1;
}
.newsletter-form .submit {
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-color: transparent;
  background: var(--theme__color1);
  color: #fff;
  border-radius: 50%;
}

.newsletter__side-image {
  width: 57%;
  flex-shrink: 0;
}
/* ---newsletter-section---end */


/* ---author-section--- */
.author-section {

}
.author-section__inner {
  padding: 65px 0;
}
.author-section__title {

}


.author-gird {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 32px;
}
.single-author {
  padding: 30px;
  background: #111827;
  border: 1px solid #37415181;
  border-radius: 22px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.single-author:hover {
  background: #1F2937;
}
.single-author .rank {
  position: absolute;
  top: 13px;
  left: 13px;
}
.single-author__image {
  margin: 0 0 17px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.single-author__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.single-author__tc h4 {
  font-size: 18px;
  margin: 0 0 8px;
  font-weight: 500;
  color: #f3f4f6;
}
.single-author__tc p {
  font-size: 14px;
  font-weight: 400;
  color: #9ca3af;
}
.auth-star {
  padding: 5px 16px;
  border-radius: 30px;
  min-height: 33px;
  gap: 10px;
  display: inline-flex;
  align-items: center;
  background: #1F2937;
}
.auth-star p {
  margin: 0;
  color: #fff;
}
.auth-star .star {
  color: #F59E0B;
}
/* ---author-section---end */


/* ---explore-section--- */
.explore-section {
  padding: 110px 0;
}
.explore-section__inner {

}
.explore-section__title {

}

.explore-grid {
  grid-gap: 32px;
  grid-template-columns: repeat(4,1fr);
  display: grid;
}
.explore-single {
  padding: 22px;
  gap: 14px;
  background: #111827;
  border: 1px solid #37415198;
  border-radius: 22px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}
.explore-single:hover {
  background: #1F2937;
}
.explore-single .ex-sn-count {
  position: absolute;
  top: 10px;
  right: 10px;
}
.ex-sn-count {
  font-size: 12px;
  padding: 5px 11px 5px;
  border-radius: 20px;
  color: #1f2937;
  background: #F3F4F6;
  border: 1px solid transparent;
  font-weight: 400;
  display: inline-flex;
  line-height: 1;
}
.explore-single__image {
  height: 95px;
  width: 95px;
  border-radius: 50%;
  flex-shrink: 0;
} 
.explore-single__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.explore-single__tc {

}
.explore-single__tc h4 {
font-size: 18px;
margin: 0 0 8px;
font-weight: 500;
color: #f3f4f6;
}
.explore-single__tc p {
  font-size: 14px;
  font-weight: 400;
  color: #9ca3af;
}
/* ---explore-section---end */



/* ---why-section--- */
.why-section {

}
.why-section__inner {
  padding: 65px 0;

}

.why__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.why__content {
  flex-shrink: 0;
  width: 40%;
}
.why__content .in-logo {
  width: 76px;
  margin: 0 0 50px;
}
.why__content .h2 {
  margin-bottom: 19px;
}
.why__content p {
  color: #9ca3af;
}

.why__side-image {
  width: 57%;
}
.why__side-image .img {

}
/* ---why-section---end */


/* ---videos-section--- */
.videos-section {
  padding: 100px 0;
}
.videos-section__inner {

}
.videos-section__title {
  margin: 0 0 100px;
}

.videos-sec__row {
  gap: 35px;
  display: flex;
  padding-right: 4.3%;
  align-items: center;
  position: relative;
  z-index: 2;
}
.videos-sec__row::after {
  border-radius: 50px;
  content: '';
  height: calc(100% + 100px);
  width: 40%;
  right: 0;
  top: 50%;
  transform: translate(0,-50%);
  background: #161E2D;
  display: block;
  position: absolute;
  z-index: -1;
}
.video__main {
  flex-grow: 1;
}
.video-single {
  height: 132px;
  border-radius: 20px;
  position: relative;
}
.video-single.video-big {
  border-radius: 50px;
  height: 585px;
  border: 9px solid #111827;
}
.video-single .video-thumb {
  border-radius: inherit;
  height: 100%;
  width: 100%;
}
.video-single .video-thumb img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.video-single .video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #ffffff46;
  border: none;
  border-radius: 50%;
  padding: 0;
  backdrop-filter: blur(10px);
}
.video-single.video-big .video-play-button {
  padding: 48px;
}
.video-single .video-play-button__play {
  height: 40px;
  width: 40px;
  font-size: 12px;
  background: #fff;
  border-radius: 50%;
  color: var(--theme__color1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.video-single.video-big .video-play-button__play {
  height: 114px;
  width: 114px;
  font-size: 25px;
}
.video-single .video-play-button__play i {
  transform: translate(5%,0);
}
.video__nav {
  width: 13%;
  gap: 22px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.video__nav__item {

}
/* ---videos-section---end */


/* ---testimonial-section--- */
.testimonial-section {

}
.testimonial-section__inner {
  padding: 65px 0;
}
.testimonial-section__title {

}

.testimonial-slider-part {
  padding: 195px 0 60px;
  width: 1088px;
  margin: 65px auto 0;
  max-width: 100%;
  position: relative;
}
.tsp-img {
  position: absolute;
}
.tsp-img-1 {
  left: 140px;
  top: 34px;
}
.tsp-img-2 {
  left: 50%;
  top: 0;
  transform: translate(-50%,0);
}
.tsp-img-3 {
  right: 140px;
  top: 34px;
}
.tsp-img-4 {
  right: 0;
  top: 50%;
}
.tsp-img-5 {
  bottom: 15px;
  right: 20%;
}
.tsp-img-6 {
  bottom: 0px;
  left: 20%;
}
.tsp-img-7 {
  left: 0;
  top: 50%;
}
.testimonial-slider__outer {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.testimonial-slider__outer .quote {
  width: 52px;
}
.testimonial-slider {
  width: 680px;
  max-width: 100%;
}
.testimonial-slider .owl-dots {
  margin: 40px 0 0;
  justify-content: center;
}
.testimonial-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.testimonial-slide h3 {
  font-size: 24px;
  margin: 0 0 0px;
  font-weight: 400;
  color: #e5e7eb;
  line-height: 1.33;
}
.testimonial-slide__auth {
  margin: 32px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.testimonial-slide__auth h4 {
  font-size: 24px;
  font-weight: 600;
  color: #e5e7eb;
}
.testimonial-slide__auth .loc {
  font-size: 18px;
  gap: 7px;
  font-weight: 400;
  color: #9ca3af;
  display: flex;
  align-items: center;
}
.testimonial-slide__auth .loc i {

}
/* ---testimonial-section---end */


/* ---footer-section--- */
.footer-section {
  margin-top: 110px;
  padding: 110px 0;
  border-top: 1px solid rgb(55, 65, 81);
}
.footer-section__inner {
  display: flex;
}

.footer__about-column {
  width: 20%;
}
.footer-menu-column {
  width: 20%;
}
.footer-menu-column h4 {
  font-size: 14px;
  margin: 0 0 22px;
  font-weight: 600;
  color: #e5e7eb;
}
.footer-logo {
  margin: 0 0 33px;
}
.footer-logo .img {
  width: 93px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.footer-menu li {

}
.footer-menu li a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-menu li a:hover {
  color: #fff;
}
.footer-menu li a .icon {

}

/* ---footer-section---end */


/* ---search-canvas--- */
.search-canvas {
  position: fixed;
  background: #0F172A;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translate(0,15px);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}
.search-canvas__inner {
  height: 100%;
  overflow: auto;
  padding-bottom: 200px;
  position: relative;
}
.search-canvas.active {
  opacity: 1;
  visibility: visible;
  transform: translate(0,0px);
}
.search-canvas-close {
  position: absolute;
  transition: 0.3s;
  left: 15px;
  top: 15px;
  font-size: 20px;
  color: #ffffffc0;
  line-height: 1;
}
.search-canvas-title {
  padding: 48px 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-tab-nv {
  display: flex;
  gap: 22px;
}
.t-tab-nv li {

}
.t-tab-nv li a {
  color: #e2e8f0;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}
.t-tab-nv li a.active {
  color: #fff;
  border-bottom-color: #fff;
}

.search-canvas__tab-content {
  padding: 0 5px;
}
.search-canvas__tab-pane {

}
.s-canvas-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.s-canvas__item {
  border-radius: 13px;
  background: #1E293B;
}
.s-canvas__item__srt {
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.s-canvas__item__srt p {
  font-size: 14px;
  margin: 0;
  color: #e2e8f0d7;
}
.s-canvas__item__srt h4 {
  margin: 0;
  font-size: 14px;
}
.s-canvas__item__main {
  padding: 20px 20px;
}
.s-canvas__item__main h3 {
  font-size: 20px;
  margin: 0 0 23px;
  color: #e2e8f0;
  font-weight: 600;
}
.s-canvas__item__main .h-h4 {
  font-size: 16px;
  margin: 0 0 20px;
  color: #e2e8f0;
  font-weight: 600;
}
.sci-search-box {
  margin: 0 0 28px;
  position: relative;
}
.sci-search-box .input {
  padding: 5px 18px;
  height: 51px;
  width: 100%;
  border: 1px solid #fff;
  color: #e2e8f0;
  font-weight: 600;
  background: transparent;
  border-radius: 12px;
}
.sci-search-box .search-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0,-50%);
}

.hsd-n-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.hsd-n-menu li {

}
.hsd-n-menu li a {
  padding: 0;
  gap: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #e2e8f0;
  display: flex;
  align-items: center;
}
.hsd-n-menu li a .icon {
  font-size: 18px;
  color: #94a3b8;
}

.search-canvas-final {
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(55, 65, 81, 0.458);
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #0F172A;
  z-index: 100;
}
/* ---search-canvas---end */


/* ---l-hero-section--- */
.l-hero-section {

}
.l-hero-section__inner {
  padding: 55px 0;
  position: relative;
  z-index: 2;
}
.l-hero__row {
  display: flex;
}
.l-hero__content {
  padding: 80px 0;
  position: relative;
  z-index: 1;
}
.l-hero__content::after {
  content: '';
  height: 100%;
  width: 5000px;
  right: 100px;
  top: 0;
  background: #06B6D4;
  display: block;
  position: absolute;
  z-index: -1;
}
.l-hero__content .h1 {
  font-size: 72px;
  margin: 0 0 34px;
  font-weight: 500;
}
.prop-line-ul {
  display: flex;
  gap: 39px;
}
.prop-snl {
  font-size: 18px;
  gap: 11px;
  display: flex;
}
.prop-snl .icon {

}
.l-hero__image {
  width: calc(100% - 310px);
  height: 607px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.l-hero__image .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.hero__search__wrap.hero__search__wrap--at-listing {
  margin-top: 45px;
}
/* ---l-hero-section---end */



/* ---pv-section--- */
.pv-section {
  padding: 110px 0;
}
.pv-section__inner {

}
.pv-section__title {
  position: relative;
}
.pv-title-filter {
  margin: 0 0 40px;
}
.pv-nav {
  gap: 15px;
  display: flex;
}
.pv-nav-item {
  display: flex;
  position: relative;
}
.pv-nav-item .hero__search__dropdown {
  width: 445px;
  z-index: 10;
  background: #0F172A;
  border: 1px solid #334155;
}
.hero__search__dropdown__bottom {
  padding: 23px 31px;
  margin-top: 25px;
  border-top: 1px solid #334155;
  display: flex;
  justify-content: space-between;
}
.pv-nav-item.show .hero__search__dropdown {
  opacity: 1;
  visibility: visible;
}
.pv-nav-item > a {
  font-size: 14px;
  min-height: 38px;
  padding: 4px 16px;
  gap: 12px;
  border: 1px solid #334155;
  color: #e2e8f0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 40px;
}
.pv-nav-item > a.activated {
  background: #fff;
  color: #06B6D4;
  border-color: #06B6D4;
}
.pv-nav-item > a > .chevron {

}
.pv-nav-item > a > .close {
  font-size: 10px;
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  background: #06B6D4;
  border-radius: 50%;
}

.pv-product__wrapper {
	--grid-gap: 32px;
	--grid-item: 2;
	display: grid;
	grid-template-columns: repeat(var(--grid-item),calc((100% / var(--grid-item)) - ((var(--grid-gap) * (var(--grid-item) - 1)) / var(--grid-item))));
	justify-content: space-between;
	grid-gap: var(--grid-gap);
}
/* ---pv-section---end */


/* ---pagination--- */
.pagination {
  margin-top: 63px;
  display: flex;
  justify-content: center;
}
.pagination ul {
  gap: 4px;
  display: flex;
  align-items: center;
}
.pagination ul li {

}
.pagination ul li a {
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  color: rgba(255, 255, 255, 0.3) !important;
  border-radius: 50%;
  font-weight: 500;
}
.pagination ul li a:hover {
  background: #1E293B;
}
.pagination ul li a.active {
  background: #0891B2;
}
/* ---pagination---end */